@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.list__main {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.list__h1 {
  color: blue;
}

.list__card {
  border: 2px solid blue;
  width: 400px;
  padding: 10px;
  margin: 10px;
}

.thumb_up {
  background-color: limegreen;
  padding: 5px;
}

.thumb_down {
  background-color: lightcoral;
  padding: 5px;
}
